*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 1400px;
  font-family: Helvetica;
}

/* Utility */
}
.width100{
  width: 100%;
}
.vw80{
  margin: auto;
  width: 70vw;
}
p, h4, .line_height{
  line-height:2em;
}
.cl_fix::after {
  content: "";
  display: table;
  clear: both;
}
div.menu_row2 > div.tdn > ul > li > a, .btn_sm>a, .btn_big>a, .btn_sm, .btn_big, .f_link{text-decoration: none;}
.cr_tblue{color: #33475b;}
.cr_orange{color:#fe775a;}
.cr_white{color:white;}
.bg_blue{background-color: #32495b;}
.bg_tur{background-color: #afebe4;}
.bg_gradient_tuchese{background-color: #00bca6;}
.bg_grey{background-color: #f4f9fd;}
.bg_orange{background-color: #fe775a;}
.bg_white{background-color: white;}
.lft{float: left;}
.rgh{float: right;}
.w_33{width: 30%;}
.btn_sm{
  padding: 10px;
  border: 1px solid #fe775a;
  border-radius: 5px;
}
.btn_big{
  padding: 20px;
  border: 1px solid #fe775a;
  border-radius: 5px;
}
.pd_20{padding: 20px 0;}
.mr_10{margin:10px;}
.mrud_10{margin: 10px 0;}
.img_height{height: 250px;}
.woman{height: 400px}
.img_heig100 {height: 100px;}
.img_width, {width: 100px;}
.li_inline>li{display: inline;}
.linea::before{
  content: '';
  float: left;
  width: 100%;
  height: 2px;
  margin-top: 16px;
  background-color: #899397;
}
.rgh_linea.linea::before{
  float: right;
width: 70%;
}

.in_img{
  display: block;
  width: 50%;
  margin: auto;}
/* /Utility */

/* header */
/* nav{position: relative;}
.box_fixed {
  position:fixed;
} */
/* menu */
.fa-search{color:#1aadc4;}
.menu_l{width: 50%}
.menu_r{width: 50%;}
.menu_row1{border-bottom: 2px solid #899397;}
.menu_row1,.menu_row2{padding: 15px 0;}
nav{
  line-height: 2em;
}
/* menu */
nav > div > div> ul > li{
  margin: 0 10px;
  display: inline;
}
/* Hero banner */
.h_img{
  width: 100%;
  height: 715px;
  background-color: #fff4ef;
  background-image: url("../img/jumbotron.png");
  background-size:70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}
.h_img::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
section.h_text{
  position: relative;
}
.htxt_position>h1{ font-size: 50px;}
.htxt_position{  width: 50%;
  text-align:left;
  position:absolute;
  top: 50px;
  left: 0;}
.htxt_position>*{margin-bottom: 30px;}
.htxt_position> h4:nth-child(4){margin-top: 10px;}
/* /Header */
/* Main  */
.m_row{
  text-align: center;
}

.tb_cel{
  width: 25%;
}

.tb_cel_bt{border-top: 1px solid white;}
.tb_cel_bl{border-left: 1px solid white;}
.tb_cel_br{border-right: 1px solid white;}
.tb_cel_bb{border-bottom: 1px solid white;}


.col{width: 25%;}
.card{
  box-shadow: 0 0 5px #e6ecf1;
  border-radius: 5px;
  background-color: white;
}
div.tab >  div > div{ display: inline-block;}

div.bg_gradient_tuchese{}
.c1row1{width: 40%;}
.c2row1{width: 60%;}
.c1row2{width: 50%;}
.c2row2{width: 50%;}

.btn_ft{border: white!important;}
ul>li {list-style: none;}
.txt_cnt{text-align: center;}
.txt_lft{text-align: left;}
.txt_rgh{text-align: right;
}
.mar5{margin: 0 5%;}
.marb25{margin-bottom: 25px;}
.martop40{margin-top: 40px;}
.marb40{margin-bottom: 40px;}
.mar40{margin: 40px 0;}
.mart40{margin:40px;}
.pd_10r{padding-right: 10px;}
.pd_10l{padding-left: 10px;}
.pd_10lr{padding: 0 10px;}
.pd_40{padding: 40px;}
.pd_40tb{padding: 40px 0;}
.pd_20lr{padding: 0 20px;}
.pdt_20{padding:20px;}
.pd_1020{padding: 10px 20px;}
h2, .fs30{font-size: 30px;}
.fs45{font-size: 45px;}
.img_h30{height: 30px;}

div.plus > div > div > span > h3::after{
  content:"+";
  padding-right: 8px;
  font-size: 25px;
}
.li_log>.img_logs{width: 20%;}
