*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Utility */
.cl_fix::after {
  content: "";
  display: table;
  clear: both;
}
.cr_tblue{color: #33475b;}
.cr_orange{color:#fe775a;}
.cr_white{color:white;}
.bg_blue{background-color: #32495b;}
.bg_tur{background-color: #afebe4;}
.bg_grey{background-color: #f4f9fd;}
.bg_orange{background-color: #fe775a;}
.bg_white{background-color: white;}
.lft{float: left;}
.rgh{float: right;}
.w_33{width: 33.3333%;}
.btn_sm{
  padding: 10px;
  border: 1px solid #fe775a;
  border-radius: 5px;
}
.btn_big{
  padding: 20px;
  border: 1px solid #fe775a;
  border-radius: 5px;
}
.pd_20{padding: 20px 0;}
.mr_10{margin:10px;}
/* /Utility */

/* header */
/* nav{position: relative;}
.box_fixed {
  position:fixed; */
}
.fa-search{color:#1aadc4;}
.menu_l{
width: 30%}
.menu_r{
width: 30%;
text-align: right;
}
.menu_row1{border-bottom: 2px solid black;}
.menu_row1,.menu_row2{
  padding: 15px 0;
}
nav{
  line-height: 1.8em;
}
/* menu */
div.menu_row2 > div.tdn > ul > li > a{
  text-decoration: none;
  color: #33475b;
}
nav > div > div> ul > li{
  margin: 0 10px;
  list-style: none;
  display: inline;
}

.h_img{
  width: 100%;
  height: 715px;
  background-color: #fff4ef;
  background-image: url("../img/jumbotron.png");
  background-size:70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
  /* overflow: hidden; */
  /* min-width: 1400px; */
}
.h_img::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}}
.lb_line{
  position: absolute;
  bottom: 0;
  border: 1px solid #33475b;
}
section.h_text{
  position: relative;
}

.htxt_position{
  width: 50%;
  text-align:left;
  position:absolute;
  top: 50px;
  left: 0;
}
.htxt_position>*{margin-bottom: 30px;}
.htxt_position> h4:nth-child(4){margin-top: 10px;}


.tb_cel, .col {
  width: 25%;
  border: 1px solid black;
}

.c1row1{width: 40%;}
.c2row1{width: 60%;}
.c1row2{width: 50%;}
.c2row2{width: 50%;}

/* Debug */
hr{
  border-style: solid;
  border: 3px solid black;
}
.width100{
  width: 100%;
}
.vw80{
  margin: auto;
  width: 80vw;
}
/* colori */
.grey{background-color: grey!important;}
.orange{background-color: orange!important;}
.pink{background-color: pink!important;}
.yellow{background-color: yellow!important;}
.blue{background-color: blue!important;}
.red{  background-color: red!important;}
.purple{background-color: purple!important;}
.h25{height: 25px;}
.h50{height: 50px;}
.h100{height: 100px;}
.h150{height: 150px;}
.h200{height: 200px;}
.h300{height: 300px;}
.h600{height: 600px;}
/* /colori */
/* /Debug */
